/* styles.css */

body {
    font-family: Arial, sans-serif;
}
.lean-logo{
    height: 50px;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;

  }
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
}

nav.actions {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
}
.user-info{
    border: 0.01px solid black;
}
.debtor-class{
    background-color: white;
}
nav.actions button {
    padding: 10px;
    margin: 5px;
    background-color: #ddd;
    border: none;
    border-radius: 20px;
}

.search input[type="text"] {
    padding: 10px;
    margin: 20px;
    width: calc(100% - 40px);
}

.transactions h2 {
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
}

td button {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav.actions {
        flex-direction: column;
        align-content: center;
        align-items:center;
        
    }

    nav.actions button {
        width: 100%;
        margin-bottom: 10px;


    }

    .search input[type="text"] {
        width: calc(100% - 40px);
    }

    table {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header, .search input[type="text"] {
        flex-direction: column;
        align-items: center;
    }

    header .logo, header .user-info {
        width: 100%;
        text-align: center;
    }

    .search input[type="text"] {
        width: 90%;
    }
}
