<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lean Financial Limited</title>
    <!-- Add your CSS files here -->
    <link href="{% static 'header.css' %}" rel="stylesheet">
    <!-- Django static tag is used to link CSS, make sure you have 'django.contrib.staticfiles' in your INSTALLED_APPS -->
</head>
<body>
    <header>
        <div class="logo"><img class="lean-logo" src={% static 'images/leanfinanciallimited.png' %}></div>
        <button class="user-info" style="border: none; cursor:pointer;"><i class="fas fa-user" style="color: #30aabc; border: 1px solid #30aabc; padding:10px; border-radius:20px;"></i> <br /><br />Alex Mbaka</button>
        
    </header>
    {% block content %}


    {% endblock %}

</body>
</html>
