{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo"><img class="lean-logo" src={% static 'images/leanfinanciallimited.png' %}></div>
        <button class="user-info" style="border: none; cursor:pointer;"><i class="fas fa-user" style="color: #30aabc; border: 1px solid #30aabc; padding:10px; border-radius:20px;"></i> <br /><br />Alex Mbaka</button>
        
    </header>

    <nav class="actions">
      <i class="fas fa-user" style="color: #30aabc; border: 1px solid #30aabc; padding:10px; border-radius:20px;"></i>
      <i class="fa-solid fa-user-" style="color: #FFD43B;"></i>
        <button>Add Debtor </button>
        <button>Asset Management loans</button>
        <button>Log Book Loans</button>
        <button>Plug Loans</button>
        <button>Special Loans</button>
    </nav>

    <div class="search">
        <input type="text" placeholder="Search users">
    </div>

    <section class="transactions">
        <h2>Recent Transaction:</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Acc Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Repeat this row for each transaction -->
                <tr>
                    <td>JOHN DOE</td>
                    <td>+2547xxxxxxx</td>
                    <td>12 Sep 2023</td>
                    <td>100,000</td>
                    <td>320567</td>
                    <td><button>Edit</button></td>
                </tr>
                <!-- ... -->
            </tbody>
        </table>
    </section>

    <!-- Repeat the section above for different transaction categories -->

    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>
