{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<link rel="stylesheet" href="{% static 'src/login.css' %}">
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form class="login-form" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Email/username" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit" class="btn">Login</button>
    </form>
  </div>
</body>
</html>
